---
import LightSolver from '../../../components/LightSolver.jsx';
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Clue Light Solver">
	<div class="content-center container max-w-60ch m-auto p-1.5rem text-center"><LightSolver client:only="react" /></div>
</Layout>
