<style is:global>
	#toc-list-container li::before {
		content: '•';
		margin-right: 10px;
		color: white;
	}

	#toc-list-container a {
		margin: 0;
		padding: 0;
		text-decoration: none;
		color: white;
	}
</style>

<div class="mb-2 ml-1 toc-container border-l-1">
	<h3>Table of contents:</h3>
	<div id="toc-list-container">
		<ul>
			<slot />
		</ul>
	</div>
</div>
