---
import { ModeToggle } from '@/components/ModeToggle';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to QCG Secret.">
	<main>
		<div class="flex items-center">
			<h1 class="layout-titles layout-big-title">Welcome to QCG Secret</h1>
			<a class="mr-4">
				<ModeToggle client:load />
			</a>
		</div>
		<p class="border instructions">
			This website groups all the guide for the map secret of the <br />Québec Games Murder Servers
		</p>
		<Card id='clue' body="The clue guide." href="/guide/clue" title="Clue Secret Guide" />
		<Card id='residence' body="The residence Guide. (WIP)" href="" title="Residence Secret Guide" />
		<Card id='casino' body="The casino guide." href="/guide/casino" title="Casino Secret Guide" />
		<Card id='casinoquiz' body="The answer for the casino quiz." href="/guide/casinoquiz" title="Casino Quiz Answers" />
		<Card
			id='discord'
			body="Come say hi to our amazing Discord community. ❤️"
			href="https://discord.gg/h65PAkZgru"
			title="Community"
		/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: 111313;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		gap: 1rem;
		padding: 0;
	}
</style>
