---
export interface Props {
	link: string
	width: string
}

// biome-ignore lint/correctness/noUnusedVariables: No astro support in biome
const { link, width } = Astro.props
---

<div>
	<video controls preload="none" src={link} width={width}></video>
</div>
