---
import { Link } from 'lucide-astro';
export interface Props {
	title: string;
	id: string;
}

const { title, id } = Astro.props;
---

<div id="{id}" class="py-4 my-8 border-l-2">
	<div class="w-full max-w-screen-md ml-3 component-aligned">
		<div class="flex items-center">
			<h1 class="mt-2 mb-4 text-4xl font-bold">{title}</h1>
			<a class="ml-2 text-white" href={`#${id}`}>
				<Link height={25} width={25} />
			</a>
		</div>

		<p><slot /></p>
	</div>
</div>

<style>
	.icon {
		text-decoration: none;
		margin-top: -5px;
	}
</style>
