<style is:global>
	#tableofcontent li::before {
		content: '•';
		margin-right: 10px;
	}
</style>

<div class="mb-2 ml-1 border-l">
	<h3 class="mb-2 ml-2">Table of contents:</h3>
	<div class="ml-4">
		<div id="tableofcontent">
			<ul class="pl-0 list-none">
				<slot />
			</ul>
		</div>
	</div>
</div>
