---
import LaserSolver from '@/components/LaserSolver'
import { ModeToggle } from '@/components/ModeToggle'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Casino Laser Solver">
	<div class="flex flex-col items-center justify-center h-screen">
		<div class="flex items-center text-center">
			<h1 class="mb-4 text-4xl font-bold">Casino Laser Solver</h1>
			<a class="ml-4">
				<ModeToggle client:load />
			</a>
		</div>
		<LaserSolver client:only="react" />
	</div>
</Layout>
